<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>172551337732-ih61cdj7017o3ujrnhmh9ipchek4s6kg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172551337732-ih61cdj7017o3ujrnhmh9ipchek4s6kg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>172551337732-2uekr6jls53emusvrdrsthkgc5tsbesq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBAC-6bIRtVF_a_fT-Mp7Bx_IidSCf75rY</string>
	<key>GCM_SENDER_ID</key>
	<string>172551337732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>customer.fixerwithin.com</string>
	<key>PROJECT_ID</key>
	<string>fixer-with-in</string>
	<key>STORAGE_BUCKET</key>
	<string>fixer-with-in.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172551337732:ios:e04e341466fce5ca778251</string>
</dict>
</plist>